@media only screen and (max-width: 700px) {
	.but {
		margin: 350px auto auto auto;
		width: 350px;
		font-size: 16px;
		height: 55px;

	}

	#form {
		width: 500px;
		height: 430px;
	}

	#gerb {
	    height: 150px;
     	left: 0;
	    right: 0;
	    margin: 20px auto auto auto;
	}

	#p1 {
	    margin: 180px auto;
	    font-size: 24px;
	    width: 400px;
	    text-align: center;
	}

	#p2 {
	    width: 440px;
	    margin: 275px auto;
	    font-size: 20px;
	}
}

@media only screen and (max-width: 500px) {

	#gerb {
	    height: 150px;
     	left: 0;
	    right: 0;
	    margin: 20px auto auto auto;
	}

	.but {
		margin: 360px auto auto auto;
		width: 270px;
		font-size: 14px;
		height: 45px;

	}

	#form {
		width: 350px;
		height: 430px;
	}

	#p1 {
	    margin: 185px auto;
	    font-size: 20px;
	    width: 300px;
	    text-align: center;
	}

	#p2 {
	    width: 300px;
	    margin: 290px auto;
	    font-size: 19px;
	}
	}
